XTerm.termName: xterm
XTerm.vt100.saveLines: 4096
xterm*foreground:   white
xterm*background:   black

XTerm.vt100.selectToClipboard: true

XTerm.vt100.faceName: Perfect DOS VGA 437:size=18:antialias=false
*.boldFonts: false
XTerm.vt100.colorBDMode: true










XTerm.vt100.locale: false
XTerm.vt100.utf8: true
XTerm.vt100.metaSendsEscape: true





! remap keys
XTerm.vt100.translations: #override \n\
    Ctrl <Key>M: maximize() \n\
    Ctrl <Key>R: restore() \n\
    Ctrl Shift <Key>C:  copy-selection(SELECT) \n\
    Ctrl Shift <Key>V:  insert-selection(SELECT) \n\
    Ctrl <Key> +:       larger-vt-font() \n\
    Ctrl <Key> -:       smaller-vt-font()

*foreground:     rgb:aa/aa/99
*background:     rgb:00/00/00
!black
*color0:     rgb:00/00/00
*color8:     rgb:26/27/29
!red
*color1:     rgb:80/32/32
*color9:     rgb:9e/18/28
!green
*color2:     rgb:5b/76/2f
*color10:     rgb:89/b8/3f
!brown/yellow
*color3:     rgb:aa/99/43
*coror11:     rgb:c4/a0/00
!blue
*color4:     rgb:32/4c/80
*color12:     rgb:20/4a/87
!magenta
*color5:     rgb:ce/5c/00
*color13:     rgb:f5/79/00
!cyan
*color6:     rgb:51/7d/8a
*color14:     rgb:46/a4/ff

!white
*color7:     rgb:aa/aa/99
*color15:     rgb:bb/bb/aa

